 header.masthead {

  text-align: center;
  color: white;
  background-image: url("../assets/images/background/login-register.jpg");
  background-repeat: no-repeat;
 background-attachment: scroll;
 background-position: center center;
 background-size: cover;
 height: 800px;
}
