<!-- <router-outlet></router-outlet> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>


  </style>
</head>

<body>
<header class="masthead">
<div class="container">
<div class="intro-text">
  <!-- <div class="intro-lead-in">Sahaja Yoga - DC Metro Area</div> -->


   <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" method="post" action="categories.html" id="loginform">
                    <h3 class="box-title text-center m-b-20">Sign In</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Username"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Password"> </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
						</div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>

</div>
</div>



  </header>

  </body>
  </html>
