 header.masthead {

  text-align: center;
  color: white;
  background-image: url("../assets/images/background/login-register.jpg");
  background-repeat: no-repeat;
 background-attachment: scroll;
 background-position: center center;
 background-size: cover;
 height: 800px;
}


.login-box {
  width: 400px;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

    .login-sidebar
     {
  padding: 0px;
  margin-top: 0px;
 }

  .login-sidebar .login-box
   {
    right: 0px;
    position: absolute;
    height: 100%;
  }

  .login-register
  {
    position: relative;
    overflow: hidden;
  }

  .login-box
  {
    width: 90%; }

  .login-sidebar
  {
    padding: 10% 0; }

    .login-sidebar .login-box
    {
      position: relative;
     }
